.b {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30 px;
}    

.navbar {
    background-color: aqua;
    padding-left: 100px;
}

.quem-somos {
    background-color: #8181f7;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: aqua;
    color: white;
}

.bg-footer {
    background-color: black;
    color: white;
}